{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="product_page-title mb-lg-3">{{category|default("Todo")}}</div>
    <div class="row">
        {% for product in app.user.wishlist.products|default([]) %}
            {% if product.isVisible %}
                <div class="col-12 col-lg-3">
                    {{render_product(product)}}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}