{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row">
        <!-- Slider main container -->
        <div class="col-12">
            <div class="swiper-container main-carousel">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide home_banner">
                        <img class="image-cover" src="https://i.picsum.photos/id/590/1920/600.jpg" alt="">
                    </div>
                    <div class="swiper-slide home_banner">
                        <img class="image-cover" src="https://i.picsum.photos/id/290/1920/600.jpg" alt="">
                    </div>
                    <div class="swiper-slide home_banner">
                        <img class="image-cover" src="https://i.picsum.photos/id/190/1920/600.jpg" alt="">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="col-12">
            <div>Ultimos Productos</div>
            <div class="owl-carousel owl-theme">
                {% for product in latestProducts %}
                    {{render_product(product)}}
                {% endfor %}
            </div>
        </div>
    </div>

    
{# <div class="swiper-slide">
    <img src="https://www.anmosugoi.com/wp-content/uploads/2020/03/Magia-Record-Mahou-Shoujo-Madoka-Magica-Gaiden-madoka-iroha.jpg" alt="">
</div>
<div class="swiper-slide">
    <img src="https://miro.medium.com/max/1080/1*YFv1GvNfNJMKL87WXWR5qQ.jpeg" alt="">
</div> #}
{% endblock %}

{% block javascripts %}

{% endblock %}
