body {
	//background-color: gainsboro;
	background-color: white;
	font-family: 'Tw Cen MT'
}

.toolbar {
	width: 100vw;
	&_container {
		width: 100%;
		height: 64px;
		padding: 5px 0;
	}
	&_search {
		width: 50% !important;
	}

	&_logo {
		width: 150px;
		@include media-breakpoint-down(md) {

		}
	}

	&_submenu {
		list-style: none;
		margin-left: 0px;
		margin-bottom: 0px;
		padding-left: 0px;
		display: inline-block;
		li {
			padding: 10px 0.5rem;
			width: fit-content;
			text-align: center;
			display: inline-block;
			text-transform: uppercase;
			transition: 0.3s ease-in-out;
			@include font-poppins-medium(18pt, 12pt, black);
			&:hover {
				background-color: lightsalmon;
			}
		}

		&_container {
			display: flex;
			background-color: honeydew;
			justify-content: center;
		}
	}
}

.home {
	&_body {
		@include media-breakpoint-down(sm) {
			margin: auto;
			padding: 0;
		}
	}
	&_banner {
		@include media-breakpoint-down(md) {
			height: 300px;
		}
	}
}

.categories {
	&_image-container {
		width: 100%;
		height: 500px;
	}

	&_title {
		text-align: center;
		@include font-poppins-medium(21pt, 14pt, black);
	}
}

.product {
	&_page-title {
		@include font-poppins-medium(35pt, 19pt, black);
		text-transform: uppercase;
		text-align: center;
	}
	&_small {
		&_container {
			width: 250px;
		}

		&_image {
			width: 100%;
			height: 300px;
		}

		&_title {
			@include font-poppins-medium(16pt, 9pt, black);
		}

		&_price {
			@include font-poppins-medium(14pt, 8pt, gray);
		}
	}

	&_page {
		&_image {
			// height: 500px;
		}
		&_title {
			@include font-poppins-bold(40pt, 25pt, black);
		}
		&_small {
			@include font-poppins-light(16pt, 9pt, gray);
		}
		&_distribuitor {
			@include font-poppins-medium(25pt, 19pt, black);
		}
		&_author {
			@include font-poppins-medium(25pt, 19pt, black);
		}
		&_year {
			@include font-poppins-medium(20pt, 15pt, black);
		}
		&_description {
			@include font-poppins-regular(16pt, 10pt, black);
			text-align: justify;
		}
	}

	&_verification-status {
		&_success {
			padding: 5px; 
			background-color: greenyellow; 
			border-radius: 100%;
			margin-left: 1rem;
			opacity: 0.7;
		}
		&_failure {
			padding: 5px; 
			background-color: red; 
			border-radius: 100%;
			margin-left: 1rem;
			opacity: 0.7;
		}
		&_warning {
			padding: 5px; 
			background-color: yellow; 
			border-radius: 100%;
			margin-left: 1rem;
			opacity: 0.7;
		}
	}
}

.c-tooltip {
	$self: &;
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	top: 0%;
	left: 50%;
	transform: translateX(-50%) translateY(25%);
	transition: opacity 0.5s ease-in-out;
	@include font-poppins-light(12pt, 9pt, white);
	
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;

	&_container {
		position: relative;
		&:hover {
			#{$self} {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}