body {
	background-color: gainsboro;
}

.toolbar {
	width: 100vw;
	&_container {
		width: 100%;
		height: 64px;
		padding: 5px 0;
	}
	&_search {
		width: 50% !important;
	}

	&_logo {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	&_submenu {
		list-style: none;
		margin-left: 0px;
		margin-bottom: 0px;
		padding-left: 0px;
		display: inline-block;
		li {
			padding: 10px 0.5rem;
			width: fit-content;
			text-align: center;
			display: inline-block;
			text-transform: uppercase;
			transition: 0.3s ease-in-out;
			@include font-poppins-medium(18pt, 12pt, black);
			&:hover {
				background-color: lightsalmon;
			}
		}

		&_container {
			display: flex;
			background-color: honeydew;
			justify-content: center;
		}
	}
}

.home {
	&_body {
		@include media-breakpoint-down(sm) {
			margin: auto;
			padding: 0;
		}
	}
	&_banner {
		@include media-breakpoint-down(md) {
			height: 300px;
		}
	}
}

.categories {
	&_image-container {
		width: 100%;
		height: 500px;
	}

	&_title {
		text-align: center;
		@include font-poppins-medium(21pt, 14pt, black);
	}
}

.product {
	&_page-title {
		@include font-poppins-medium(35pt, 19pt, black);
		text-transform: uppercase;
		text-align: center;
	}
	&_small {
		&_container {

		}

		&_image {
			width: 100%;
			height: 300px;
		}

		&_title {
			@include font-poppins-medium(16pt, 9pt, black);
		}

		&_price {
			@include font-poppins-medium(14pt, 8pt, gray);
		}
	}
}