{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
<div class ="row justify-content-center">
    <h2> Subir Producto </h2>
</div>
    <div class="container-fluid">
        <div class="row d-flex mt-2 mb-5">
            {% for category in categories %}
                <div class="col d-flex justify-content-center mt-2">
                    <el-link :underline="false" href="{{path('product_create', { idType: category.id })}}">                    
                        <div class="card" style="width: 12rem; height: 20rem;">
                            <img class="card-img-top" src="{{asset('images/' ~ category.name)}}.jpg" alt="">
                            <div class="card-body">
                                <h2 class="card-title"> {{category.name}} </h2>
                            </div>	
                        </div>	
                        
                        {#<div class="categories_image-container">
                            <img class="image-cover" src="https://images-na.ssl-images-amazon.com/images/I/71SVE2mEfvL._AC_SL1001_.jpg" alt="">
                        </div>
                        <div class="categories_title mt-lg-2"></div>#}                    
                    </el-link>
                </div>
            {% endfor %}
        </div>
        
        {# <div class="col-12 col-lg-4 mb-lg-4">
            <el-link :underline="false">
                <div class="d-flex flex-column">
                        <div class="categories_image-container">
                    <img class="image-cover" src="https://images-na.ssl-images-amazon.com/images/I/71SVE2mEfvL._AC_SL1001_.jpg" alt="">
                </div>
                <div class="categories_title mt-lg-2">Peliculas</div>
                </div>
            </el-link>
        </div>
        <div class="col-12 col-lg-4 mb-lg-4">
            <el-link :underline="false">
                <div class="d-flex flex-column">
                        <div class="categories_image-container">
                    <img class="image-cover" src="https://images-na.ssl-images-amazon.com/images/I/71SVE2mEfvL._AC_SL1001_.jpg" alt="">
                </div>
                <div class="categories_title mt-lg-2">Peliculas</div>
                </div>
            </el-link>
        </div>
        <div class="col-12 col-lg-4 mb-lg-4">
            <el-link :underline="false">
                <div class="d-flex flex-column">
                        <div class="categories_image-container">
                    <img class="image-cover" src="https://images-na.ssl-images-amazon.com/images/I/71SVE2mEfvL._AC_SL1001_.jpg" alt="">
                </div>
                <div class="categories_title mt-lg-2">Peliculas</div>
                </div>
            </el-link>
        </div>
        <div class="col-12 col-lg-4 mb-lg-4">
            <el-link :underline="false">
                <div class="d-flex flex-column">
                        <div class="categories_image-container">
                    <img class="image-cover" src="https://images-na.ssl-images-amazon.com/images/I/71SVE2mEfvL._AC_SL1001_.jpg" alt="">
                </div>
                <div class="categories_title mt-lg-2">Peliculas</div>
                </div>
            </el-link>
        </div> #}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}