<h1>NOTIFIACION URGENTE</h1>

<p>
    Se ha detectado recientemente que usted ha subido dos productos, los cuales un administrador determino como falsos, le pedimos modifique este comportamiento ya que al 3er producto falso detectado, su cuenta se dara de baja
    <div>Que tenga un buen dia</div>
</p>