<h1>Has recibido un correo de contacto</h1>

<p>
    <div>Nombre: {{name}}</div>
    <div>Email: {{emailT}}</div>
    <div>Motivo: {{motive}}</div>
    <div>Mensaje:</div>
    <div>{{message}}</div>
</p>