<h1>NOTIFICACIÓN URGENTE</h1>

<p>
    Lamentamos informarle que el sistema ha detectado que usted ha publicado 3 productos los cuales fueron determinados como falsos por un verificador, 
    motivo por el que su cuenta ha sido desactivada indefinidamente.
    <div>Que tenga un buen dia.</div>
</p>