<h1>NOTIFIACION URGENTE</h1>

<p>
    Lamentamos informarle que el sistema ha detectado que usted ha publicado 3 productos que un administrador determino como falsos, por lo tanto su cuenta se ha desactivado indefinidamente.
    <div>Que tenga un buen dia.</div>
</p>