<div id="toolbar" class="toolbar">
    <div class="h-100 container">
        <div class="h-100"><img class="h-100 img-fluid" src="{{asset('images/magiarecord_logo-chido.png')}}" alt=""></div>
    </div>
    
</div>

{% block javascripts %}
<script>alert("xd")</script>
{% endblock %}